<!DOCTYPE html>
<html>
<head>
<!-- include header portion page -->
 <% include ./_head.ejs %>

  <!-- nav bar -->
  <% include ./_nav %>

</head>
<body>
<% var owner; %>
  <!-- heading -->
  <div class="page-header">
  <!-- show if owner -->
    <div class="container text-center owner">
        <h1>Welcome!</h1>
        <h3>Use this page to manage prayer requests.</h3>      
    </div>
    <!-- show if visitor -->
    <div class="container text-center visitor">
        <h1>Pray for me!</h1>      
    </div>
  </div>

  <!-- input forms -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <!-- show if owner -->
        <form class="form-group owner">
            <input type="text" class="form-control" id="new-request-input" data-id="<%=user._id %>" rows="1" placeholder="Enter new prayer request..." name="description" aria-describedby="basic-addon2">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default" id="new-request">Submit</button>
            </span>
        </form>
      </div>
    </div>
  </div>

  <!-- lists of prayer requests -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 requests">
        <ul class=" active list-unstyled">
          <% for(var i = user.requests.length - 1; i>=0; i--) { %>
            <% if(!user.requests[i].completed) { %>
              <li class="well"><%=user.requests[i].description%>
                <br>
                <br>
                <p><strong>Prayed for <%= user.requests[i].count %> times</strong></p>
                <br>
                <br>
                <!-- show if owner -->
                <input class="answered owner" type="button" value="Answered"></input>
                <br>
                <br>
                <input class="delete owner" type="button" value="Delete"></input>
                  <span class="prayer-count">
                  
                  <!-- show if visitor -->
                  <label><button type="button" class="btn btn-default btn-xs count visitor">I prayed for this request</button></label>
                  </span>
              </li>
            <% } %>
          <% } %>
        </ul>
        <ul class=" completed list-unstyled">
          <% for(var i = user.requests.length - 1; i>=0; i--) { %>
            <% if(user.requests[i].completed) { %>
              <li class="well"><%=user.requests[i].description%>
                <br>
                <br>
                <p><strong>Prayed for <%= user.requests[i].count %> times</strong></p>
                <br>
                <br>
                  <!-- show if owner -->
                    <input class="delete owner" type="button" value="Delete"></input>
                    <p>Prayed for <%= user.requests[i].count %> times</p>
              </li>
            <% } %>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
